<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>71123812972-jqmj6vgldhk2t9sgj9d4funejh8eq1ek.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.71123812972-jqmj6vgldhk2t9sgj9d4funejh8eq1ek</string>
	<key>API_KEY</key>
	<string>AIzaSyCdeSoYvReeaU8y-OmAOINiPWAjsSSP_-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>71123812972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Closer.Development.Group</string>
	<key>PROJECT_ID</key>
	<string>closer-17ee2</string>
	<key>STORAGE_BUCKET</key>
	<string>closer-17ee2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:71123812972:ios:9dc5b80437945550</string>
	<key>DATABASE_URL</key>
	<string>https://closer-17ee2.firebaseio.com</string>
</dict>
</plist>